
/* ***##### BODY #####*** */

body {
    font-family:"Plus Jakarta Sans",  'Noto Sans', 'Arial', sans-serif;
    background-color: #141414;
    padding: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
}
/* ***##### HEADERS #####*** */
h1{
    text-align: center;
    font-family: "Plus Jakarta Sans", "Noto Sans";
    
    color: #CCCCCC;
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 20px;
    
}

h2{ margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    color: #198FB3;
}

.flash-message {
    position: relative;
    color: crimson;
    font-size: 10px;
    text-align: center;
    display: block;
    margin-top: 5px;
}



/* ***##### INPUT NUMBERS #####*** */

.general-form {margin-top: 20px;
    color: #CCCCCC;
    max-width: fit-content;
    margin: auto; 
}

label {
    display:block;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.input-number {
    text-align: left;
    text-indent: 8px;
    font-size: medium;
    width: 215px;
    height: 30px;
    border: 2px solid transparent;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #333333;
    color: #CCCCCC;

}

.input-number:focus {
  border-color: transparent;
  outline: none;
}

.input-number::placeholder {
    color: #999999;
    opacity: 0.5;
    font-style: normal;
}
.input-login {
    text-align: left;
    text-indent: 8px;
    font-size: medium;
    width: 215px;
    height: 30px;
    border: 2px solid transparent;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #333333;
    color: #CCCCCC;

}

.input-login:focus {
  border-color: transparent;
  outline: none;
}

.input-login::placeholder {
    color: #999999;
    opacity: 0.5;
    font-style: normal;
}



/* ***##### BUTTON #####*** */

.calculate-button {
    display: block;
    margin: auto;
    margin-top: 25px;
    background-color: #141414;
    color: #10CDE6;
    padding: 8px 73px;
    border: 1.5px solid #10CDE6;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-out, transform 0.2s ease-out;
    font-family: Noto Sans;
    font-weight: bold;
    
}

.calculate-button:hover {
    background-color: #10CDE6;
    border: 1px solid #10CDE6;
    color: #050505;
    transform: scale(1.03);
    
}

.calculate-button:active {
    transform: scale(0.95);
    
}


/* ***##### SLIDERS #####*** */

.toggle-group {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    gap: 10px;
    margin:auto;
}

.switch {
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
}

.switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #198FB3;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2.5px;
    background-color: #CCCCCC;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #10CDE6;
}

input:checked + .slider::before {
    transform: translateX(15px);
}

.unit-labels {
    padding-bottom: 4%;
    display: flex;
    text-align: center;
    font-size: 12px;
    color: #A5A4A6;
    
    
}

.unit-toggle {
    display: flex;
    flex-direction:row-reverse;
    align-items: baseline;
    gap: 10px;
}



/* ***##### RESULTS PAGE #####*** */

.prediction-value {
    margin-top: 5px;
    text-align: center;
    align-items: center;
    font-size: 75px;
}

.reset-button {
    display: block;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    background-color: #141414;
    color: #10CDE6;
    padding: 8px 40px;
    border: 1.5px solid #10CDE6;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.4s ease, transform 0.2s ease;
    font-family: Noto Sans;
    font-weight: bold;
    
}

.reset-button:hover {
    background-color: #10CDE6;
    border: 2px solid #10CDE6;
    color: #050505;
    transform: scale(1.05);
    
    
}

.login-button { position: inherit;
    
    display: block;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    background-color: #141414;
    color: #10CDE6;
    padding: 5px 20px;
    border: 1.5px solid #10CDE6;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.4s ease, transform 0.2s ease;
    font-family: Noto Sans;
    font-weight: bold;
    
}

.login-button:hover {
    background-color: #10CDE6;
    border: 2px solid #10CDE6;
    color: #050505;
    transform: scale(1.05);
    
    
}

.logout-button {
    position: fixed;
    display: block;
    align-items: left;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #141414;
    color: #10CDE6;
    padding: 5px 20px;
    border: 1.5px solid #10CDE6;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.4s ease, transform 0.2s ease;
    font-family: Noto Sans;
    font-weight: bold;
    
}

.logout-button:hover {
    background-color: #141414;
    border: 2px solid crimson;
    color: crimson;
    transform: scale(1.03);
    
    
}

.logout-button:active {
    transform: scale(0.95);
}
/* ***##### DEVICES #####*** */

@media (max-width: 580px) {
    .toggle-group {
        vertical-align: center;
        flex-direction: row;
        align-items: flex-start;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}