

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Varela+Round&display=swap');


html {
    color: #a4a8bb;
    background: radial-gradient(circle,rgba(16, 18, 29, 50) 25%, rgba(0, 0, 0, 50) 100%); 
    
    font-family: "DM Sans", "Noto Sans", sans-serif !important; 
    font-size: medium;   
}

.general-form {
    margin-top: 4rem;
    color: #CCCCCC;
    max-width: fit-content;
    margin: auto; 
}


/* ***##### SIGN IN PAGE #####*** */


.sign-in-body {
    height: 43.75rem !important;
    width: 21.875rem !important;
    margin: 5rem auto;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.938rem;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 0.125rem 0.125rem 0.625rem #10141ab2;
}

.h1-carbsense {
    margin: 1.25rem 0.625rem !important;
    color: #a1a8b4;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif !important;
    font-size: 45px !important;  
}

.h2-sign-in {
    margin: 0px 1.875rem 1.875rem 1.875rem;
    color: #1b5f8d;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 0.938rem; 
}

.h3-login-credentials {
    margin: 0.938rem 3.125rem ;
    color: #a1a8b4;
    text-indent: 0.625rem;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 0.938rem;
}

.input-login {
    display: block;
    height: 2.5rem;
    width: 15.313rem;
    margin: 0.625rem auto;
    padding: auto;
    text-indent: 0.625rem;
    background-color: #1821327a;
    color: #a1a8b4;
    border: 0px solid transparent;
    border-radius: 0.625rem;

    font-family: "DM Sans", sans-serif;
    font-size: 0.938rem;
}

::placeholder {
    color: #a1a8b4;
    opacity: .35;
}

.input-login:focus { 
    outline: none !important;
    border: 0px solid #1b5f8d;
    box-shadow: 0 0 8px #237bb6;
    }

.login-button {
    height: 2.5rem;
    width: 8rem;
    margin: 3.125rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    background-color: rgba(27, 95, 141, 0.1);
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.login-button:active {
    transform: scale(0.98);
    transition: 0.2s ease-out
}

a {
    text-decoration: none !important; 
    color: inherit; 
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: inherit;
}

.p-register-user{
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

.link-register-user{
    display: block;
    color: #1e959b;
    margin-top: 2px;
    text-align: center;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    scale: 1.0;
    transition: 0.2s ease-out;

}

.link-register-user:hover {
    display: block;
    color: #237bb6;
    margin-top: 5px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    transition: 0.2s ease-in;
    ;

}

.link-register-user:visited {

    color: #1b5f8d
}
.link-register-user:visited:hover {

    color: #237bb6
}


/* ***##### SIGN UP PAGE #####*** */

.sign-up-body {
    height: 43.75rem !important;
    width: 21.875rem !important;
    margin: 5rem auto;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.938rem;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 0.125rem 0.125rem 0.625rem #10141ab2;
}

.h1-signup {
    margin: 1.25rem 0.625rem !important;
    color: #a1a8b4;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif !important;
    font-size: 45px !important;  
}

.h2-signup {
    margin: 0px 1.875rem 1.875rem 1.875rem;
    color: #1b5f8d;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 0.938rem; 
}
                    
.input-signup {
    display: block;
    height: 2.5rem;
    width: 15.313rem;
    margin: 0.625rem auto;
    padding: auto;
    text-indent: 0.625rem;
    background-color: #1821327a;
    color: #a1a8b4;
    border: 0px solid transparent;
    border-radius: 0.625rem;

    font-family: "DM Sans", sans-serif;
    font-size: 0.938rem;
}

::placeholder {
    color: #a1a8b4;
    opacity: .35;
}

.input-signup:focus { 
    outline: none !important;
    border: 0px solid #1b5f8d;
    box-shadow: 0 0 8px #237bb6;
    }

.signup-button {
    height: 2.5rem;
    width: 8rem;
    margin: 3.125rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    background-color: rgba(27, 95, 141, 0.1);
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.signup-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.signup-button:active {
    transform: scale(0.98);
    transition: 0.2s ease-out
}

a {
    text-decoration: none !important; 
    color: inherit; 
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: inherit;
}

.p-already-user{
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

.link-already-user{
    display: block;
    color: #1e959b;
    margin-top: 2px;
    text-align: center;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    scale: 1.0;
    transition: 0.2s ease-out;

}

.link-already-user:hover {
    display: block;
    color: #237bb6;
    margin-top: 5px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    transition: 0.2s ease-in;
    ;

}

.link-already-user:visited {

    color: #1b5f8d
}
.link-already-user:visited:hover {

    color: #237bb6
}


/* ***##### INPUT DATA PAGE #####*** */

.logout-button {
    text-align: center;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    height: 2.5rem;
    width: 8rem;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem; 
    background-color: rgba(27, 95, 141, 0.1); 
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.logout-button:hover {
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.logout-button:active {
    transform: scale(0.98);
    transition: 0.2s ease-out
}

.calculate-data-body {
    height: 43.75rem !important;
    width: 21.875rem !important;
    margin: 5rem auto;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.938rem;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 0.125rem 0.125rem 0.625rem #10141ab2;
}



.account-actions {margin-top: 20px;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", "Noto Sans" sans-serif;
    color: #CCCCCC;
    max-width: fit-content;
    margin: auto; 
}

label {
    display:block;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.input-number {
    display: block;
    height: 2.5rem;
    width: 15.313rem;
    margin: 0.625rem auto;
    padding: auto;
    text-indent: 0.625rem;
    background-color: #1821327a;
    color: #a1a8b4;
    border: 0px solid transparent;
    border-radius: 0.625rem;

    font-family: "DM Sans", sans-serif;
    font-size: 0.938rem;
}



::placeholder {
    color: #a1a8b4;
    opacity: .35;
}

.input-number:focus { 
    outline: none !important;
    border: 0px solid #1b5f8d;
    box-shadow: 0 0 8px #237bb6;
    }


.unit-labels {
    padding-bottom: 4%;
    display: flex;
    text-align: center;
    font-size: 12px;
    color: #CCCCCC;   
}

.unit-toggle {
    display: flex;
    flex-direction:row-reverse;
    align-items: baseline;
    gap: 10px;
}

.calculate-button {
    height: 2.5rem;
    width: 8rem;
    margin: 3.125rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    background-color: rgba(27, 95, 141, 0.1);
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.calculate-button:hover {
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.calculate-button:active {
    transform: scale(0.98);
    transition: 0.2s ease-out
}


/* ***##### RESULTS PAGE #####*** */

.result-body {
    height: 43.75rem !important;
    width: 21.875rem !important;
    margin: 5rem auto;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.938rem;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 0.125rem 0.125rem 0.625rem #10141ab2;
}

.results-form {
    margin-top: 10rem;
}

.h1-prediction-value {
    margin-top: 5px;
    text-align: center;
    align-items: center;
    font-size: 75px;
}

.h2-prediction-value {
    margin: 0px 1.875rem 1.875rem 1.875rem;
    color: #1b5f8d;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 3rem; 
}


.return-button {
    height: 2.5rem;
    width: 8rem;
    margin: 3.125rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    background-color: rgba(27, 95, 141, 0.1);
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.return-button:hover {
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.return-button:active {
    transform: scale(0.98);
    transition: 0.2s ease-out
}



/* ***##### SLIDERS #####*** */

.toggle-group {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    gap: 10px;
    margin:auto;
}

.switch {
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
}

.switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #198FB3;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2.5px;
    background-color: #CCCCCC;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #10CDE6;
}

input:checked + .slider::before {
    transform: translateX(15px);
}



/* ### FLASH MESSAGES GENERAL SETTINGS ### */

.flash-message {
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Noto Sans", sans-serif;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}


/* ### FLASH MESSAGES ### */
                    
.flash-message.success {
    
color: #4caf50;
    
}

.flash-message.warning {
    
color: #FFAE33;
    
}


.flash-message.danger {
    
color: #E6474C;
    
}



                    /* *****### ANOTHER GENERAL SETTINGS ###***** */


/* ***##### DEVICES #####*** */

@media (max-width: 580px) {
    .toggle-group {
        vertical-align: center;
        flex-direction: row;
        align-items: flex-start;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}