<!doctype html>
<html lang="en">
  <head>
        <!--Links referencing Google Fonts -->
    
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Varela+Round&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Carbsense AI Login</title>
  </head>
<body class="sign-up-body">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="flash-message {{ category }}">{{ message }}</p>
    {% endfor %}
    
    {% endif %}
    
    {% endwith %}
    
    <h1 id="sign-up-title" class="h1-signup">Sign Up</h1>
    <h2 class="h2-signup">Register new user</h2>

    <form method="POST" class="general-form">
        {{ signup_form.hidden_tag() }}

        <div>
            {{ signup_form.email.label }}
            {{ signup_form.email(class="input-signup") }}
        </div>

        <div>
            {{ signup_form.username.label }}
            {{ signup_form.username(class="input-signup") }}
        </div>
        
        <div>
            {{ signup_form.password.label }}
            {{ signup_form.password(class="input-signup") }}
            
        </div>
        
        <div>
            
            {% for error in signup_form.username.errors %}
            <span class="flash-message">{{ error }}</span>
            {% endfor %}
            
            {% for error in signup_form.password.errors %}
            <span class="flash-message">{{ error }}</span>
            {% endfor %}
            
            
        </div>

        {{signup_form.submit_signup(class="signup-button")}}

    <div class="resgister-container">
    <p class="p-already-user">Already an acount?</p> 
    <a href="{{url_for('main.login')}}" class="link-already-user">Sign in</a>
    </div>

    </form>
    
</body>
</html>